<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ naslov }}">
    <ion-content class="padding">
        <form ng-submit="akcija()">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Ime</span>
                <input type="text" placeholder="Ime" ng-model="student.ime">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Prezime</span>
                <input type="text" placeholder="Prezime" ng-model="student.prezime">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email" ng-model="student.email">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Uloga</span>
                <input type="text" placeholder="Uloga" ng-model="student.uloga">
            </label>

            <button type="submit" class="button button-block button-balanced">
                Promjena
            </button>
        </form>

        <button class="button button-block button-assertive" ng-show="update" ng-click="brisanje()">Obriši</button>

    </ion-content>
</ion-view>
